 {% extends 'base.html.twig' %}

{% block title %}Thomas Clarisse{% endblock %}

{% block body %}
<header class="profile container">
    <i class="ri-moon-line change-theme" id="theme-button"></i>
    <div class="profile__container grid">
        <div class="profile__data">
            <div class="profile__border">
                <div class="profile__perfil">
                    <img src="img/profil.png" alt="">
                </div>
            </div>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert {{ label }}">
                        <div class="{{ label }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <h2 class="profile__name">Thomas Clarisse</h2>
            <h3 class="profile__profession">CEO WebInCompany | Développeur Full Stack </h3>

            <ul class="profile__social">
                <a href="https://www.linkedin.com/in/thomas-clarisse/" target="_blank" class="profile__social-link">
                    <i class="ri-linkedin-box-line"></i>
                </a>
                <a href="https://github.com/Thomas905" target="_blank" class="profile__social-link">
                    <i class="ri-github-line"></i>
                </a>
            </ul>
        </div>

        <div class="profile__info grid">
            <div class="profile__info-group">
                <h3 class="profile__info-number">+ 2 ans</h3>
                <p class="profile__info-description">
                    d'expériences
                </p>
            </div>
            <div class="profile__info-group">
                <h3 class="profile__info-number">+ 20</h3>
                <p class="profile__info-description">
                    projets réalisés
                </p>
            </div>
            <div class="profile__info-group">
                <h3 class="profile__info-number">+ 50</h3>
                <p class="profile__info-description">clients <br> satisfait</p>
            </div>
        </div>

        <div class="profile__buttons">
            <a download="" href="pdf/thomasclarisse.pdf" class="button">
                Télécharger mon CV <i class="ri-download-line"></i>
            </a>
            <a href="https://calendly.com/thomasclarisse/projet-webincompany" class="button-warning">
                Prendre rendez-vous <i class="ri-calendar-2-fill"></i>
            </a>
        </div>
    </div>
</header>

<main class="main">
    <section class="filters container">
        <ul class="filters__content">
            <button class="filters__button filter-tab-active" data-target="#projects">
                Projets réalisés
            </button>
            <button class="filters__button" data-target="#skills">
                Compétences
            </button>
        </ul>

        <div class="filters__sections">
            <div class="projects__content grid filters__active" data-content id="projects">
                {% for project in projects %}
                    <article class="projects__card">
                        <img src="/uploads/images/projets/{{ project.image }}" alt="project picture" class="projects__img">
                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitle">{{ project.name }}</span>
                                <h3 class="projects__title">{{ project.description }}</h3>
                                {% if project.website != null %}
                                    <a href="{{ project.website }}" class="projects__button button button__small">
                                        <i class="ri-link"></i>
                                    </a>
                                {% endif %}
                                {% if project.github != null %}
                                    <a href="{{ project.github }}" class="projects__button button button__small">
                                        <i class="ri-github-fill"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>

            <div class="skills__content grid" data-content id="skills">
                <div class="skills__area">
                    <h3 class="skills__title">Front-end</h3>

                    <div class="skills__box">
                        <div class="skills__group">
                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">HTML</h3>
                                    <span class="skills__level">Expert</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">CSS</h3>
                                    <span class="skills__level">Expert</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">JavaScript</h3>
                                    <span class="skills__level">Intermédiaire</span>
                                </div>
                            </div>
                        </div>

                        <div class="skills__group">
                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">React</h3>
                                    <span class="skills__level">Débutant</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">Bootstrap</h3>
                                    <span class="skills__level">Intermédiaire</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">Git</h3>
                                    <span class="skills__level">Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skills__area">
                    <h3 class="skills__title">Back-end</h3>

                    <div class="skills__box">
                        <div class="skills__group">

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">Symfony</h3>
                                    <span class="skills__level">Expert</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">PHP</h3>
                                    <span class="skills__level">Intermédiaire</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">MySQL</h3>
                                    <span class="skills__level">Avancé</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">Express</h3>
                                    <span class="skills__level">Débutant</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skills__area">
                    <h3 class="skills__title">Logiciel</h3>

                    <div class="skills__box">
                        <div class="skills__group">

                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">MS Office</h3>
                                    <span class="skills__level">Intermédiaire</span>
                                </div>
                            </div>
                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">Figma / Adobe XD</h3>
                                    <span class="skills__level">Intermédiaire</span>
                                </div>
                            </div>
                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>

                                <div>
                                    <h3 class="skills__name">Photoshop</h3>
                                    <span class="skills__level">Intermédiaire</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center mt-5">Vous avez un projet ?</h1>
        <div class="calendly-inline-widget" data-url="https://calendly.com/thomasclarisse/projet-webincompany" style="min-width:320px;height:1300px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </section>
</main>

<footer class="footer container">
    <span class="footer__copy">
        &#169; Thomas Clarisse - 2022
    </span>
</footer>
<script src="js/scrollreveal.min.js"></script>

<script src="js/main.js"></script>

{% endblock %}
